@import '../../../../Shared//Assets//Styles/main';

.Cards_Container {
  display: flex;
  width: 90%;

  .Cards_LeftColumn {
    flex: 0.6;
    margin-right: 10px;
  }

  .Cards_RightColumn {
    flex: 0.4;
    margin-left: 10px;
  }
}

.Cards_CheckboxSection {
  margin-top: 20px;

  .Cards_CheckboxSectionTitle {
    font-weight: bold;
  }
}

.Product_VariationsSelecteds {
  border-top: 1px solid #cccccc;
  margin-top: 14px;

  .Product_VariationsSelecteds_Content {
    width: 50%;
    margin-top: 40px;
  }
}

.Input_Columns {
  display: flex;
  gap: 20px;
}

.Categories_Table {
  width: 100%;
  table-layout: fixed;
  margin-top: 30px;

  th {
    text-align: left;
    font-size: 14px;
  }

  td {
    font-size: 14px;
  }

  button {
    background: transparent;
    border: 0;
    cursor: pointer;
  }
}

.Products_Table {
  width: 100%;
  // table-layout: fixed;

  td {
    font-size: 16px;
  }

  button {
    outline: 0;
    background: 0;
    border: 0;
    cursor: pointer;
  }
}

.Preview {
  background-color: #FFFFFF;
  border-color: #DDD;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.14);
  padding: 20px;
  margin-top: 20px;

  h1 {
    font-size: 20px;
  }

  .Preview_Domain {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;

    .Preview_DomainIcon {
      border-radius: 100%;
      background-color: #DDD;
      height: 40px;
      width: 40px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-right: 10px;
      color: #ababab;

      span {
        font-weight: bold;
      }
    }
  }

  .Preview_Content {
    h2 {
      color: #8ab4f8;
      font-size: 24px;
      margin-top: 6px;
    }

    p {
      font-size: 18px;
      margin: 0;
    }
  }
}